@if (inline) {
  <p class="empty-state-inline">
    <ion-icon class="empty-state-inline__icon" [name]="icon" aria-hidden="true"></ion-icon>
    <span>{{ subtitle || (subtitleKey | translate) }}</span>
  </p>
} @else {
  <div class="empty-state">
    <div class="empty-icon" [class]="'empty-icon color-' + (iconColor || 'primary')">
      <ion-icon [name]="icon"></ion-icon>
    </div>
    <div class="empty-copy">
      @if (!hideTitle) {
        <h3>{{ title || (titleKey | translate) }}</h3>
      }
      <p>{{ subtitle || (subtitleKey | translate) }}</p>
    </div>
    @if (showAction) {
      <ion-button
        color="primary"
        class="empty-action"
        shape="round"
        (click)="triggerAction()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        {{ actionLabel || ('emptyStates.actions.addProduct' | translate) }}
      </ion-button>
    }
  </div>
}
