<app-entity-selector-modal
  [isOpen]="state.addModalOpen()"
  [title]="'pantry.fastAdd.title' | translate"
  [cardTitle]="'pantry.fastAdd.cardTitle' | translate"
  [subtitle]="'pantry.fastAdd.subtitle' | translate"
  [placeholder]="'pantry.fastAdd.placeholder' | translate"
  [emptyLabel]="'pantry.fastAdd.noResults' | translate"
  [entriesEmptyLabel]="'pantry.fastAdd.empty' | translate"
  [saveLabel]="'pantry.fastAdd.submit' | translate"
  [saving]="state.isAdding()"
  [disableSave]="!state.hasAddEntries()"
  [items]="state.addOptions()"
  [entries]="state.addEntryViewModels()"
  [showSecondaryInfo]="true"
  [showMeta]="false"
  [showAllOnFocus]="true"
  [autofocus]="true"
  [showEmptyAction]="state.showAddEmptyAction()"
  [showEmptyActionWhenNoExactMatch]="true"
  [emptyActionLabel]="state.addEmptyActionLabel()"
  (willDismiss)="state.dismissAddModal()"
  (didDismiss)="state.closeAddModal()"
  (selectItem)="state.addEntry($event)"
  (queryChange)="state.onAddQueryChange($event)"
  (emptyAction)="state.addEntryFromQuery($event)"
  (adjustEntry)="state.adjustEntryById($event.entry.id, $event.delta)"
  [showEntryNoExpiry]="true"
  (entryDateChange)="state.setEntryDate($event.entry.id, $event.date)"
  (entryNoExpiryToggle)="state.setEntryNoExpiry($event.entry.id)"
  (save)="state.submitAdd()">
</app-entity-selector-modal>
