<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" [routerLink]="['/dashboard']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ 'tabs.dashboard' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pantry" [routerLink]="['/pantry']">
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label>{{ 'tabs.pantry' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="agent"
      [routerLink]="['/agent']"
      [class.locked]="!canUseAgent()">
      <ion-icon name="restaurant-outline"></ion-icon>
      @if (!canUseAgent()) {
        <div class="tab-pro-pill">PRO</div>
      } @else {
        <ion-label>{{ 'tabs.agent' | translate }}</ion-label>
      }
    </ion-tab-button>

    <ion-tab-button tab="shopping" [routerLink]="['/shopping']">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>{{ 'tabs.shopping' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" [routerLink]="['/settings']">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{ 'tabs.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
