<ion-card
  class="pantry-item-card"
  [attr.data-status]="viewModel.globalStatus.state"
  [style.--card-accent]="viewModel.globalStatus.accentColor"
  [ngClass]="viewModel.colorClass"
  button="true"
  (click)="handleCardClick($event)">
  <div class="card-content">
    <div class="card-header">
      <div class="title-section">
        @if (viewModel.item.isBasic) {
          <ion-icon class="basic-icon" name="star-outline"></ion-icon>
        }
        <h3 class="item-name">{{ viewModel.item.name }}</h3>
      </div>
    </div>

    <div class="card-info">
      <div class="info-row">
        <ion-icon name="calendar-outline"></ion-icon>
        @if(viewModel.formattedEarliestExpirationLong !== '') {
          <span>Caduca {{ viewModel.formattedEarliestExpirationLong }}</span>
        } @else {
          <span>{{ 'pantry.detail.noExpiry' | translate }}</span>
        }
      </div>
      <div class="info-row">
        <ion-icon name="cube-outline"></ion-icon>
        <span>{{ viewModel.batchCountsLabel }}</span>
      </div>
    </div>
  </div>
</ion-card>
