<div
  class="pantry-item-card"
  [attr.data-status]="viewModel.globalStatus.state"
  [ngClass]="viewModel.colorClass">
  <div
    class="card-content"
    role="button"
    tabindex="0"
    (click)="handleCardClick($event)"
    (keydown.enter)="handleCardClick($event)"
    (keydown.space)="$event.preventDefault(); handleCardClick($event)">
    <div class="card-main">
      <div class="title-section">
        <ion-icon
          class="basic-icon"
          [name]="viewModel.item.isBasic ? 'star' : 'star-outline'"
          [class.basic-icon--active]="viewModel.item.isBasic"
          [class.basic-icon--hint]="showStarHint"
          role="button"
          tabindex="0"
          (click)="onBasicToggle($event)"
          (keydown.enter)="onBasicToggle($event)"
          (keydown.space)="$event.preventDefault(); onBasicToggle($event)">
        </ion-icon>
        <h3 class="item-name">{{ viewModel.item.name }}</h3>
      </div>
      <p class="item-subinfo" [attr.data-status]="viewModel.globalStatus.state">{{ viewModel.expiryLabel }}</p>
    </div>
    <span class="item-qty" aria-hidden="true">{{ viewModel.quantityShortLabel }}</span>
  </div>
</div>
