<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" [routerLink]="['/dashboard']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ 'dashboard.title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pantry" [routerLink]="['/pantry']">
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label>{{ 'pantry.title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insights" [routerLink]="['/insights']">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>{{ 'insights.tabTitle' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list" [routerLink]="['/list']">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>{{ 'shopping.tabTitle' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" [routerLink]="['/history']">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>{{ 'history.title' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
