:root {
  --ion-color-primary: #3A9882;
  --ion-color-primary-rgb: 58, 152, 130;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #338672;
  --ion-color-primary-tint: #4ea28f;

  --ion-color-secondary: #88C8AF;
  --ion-color-secondary-rgb: 136, 200, 175;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #78b09a;
  --ion-color-secondary-tint: #94ceb7;

  --ion-color-tertiary: #5fae9a;
  --ion-color-tertiary-rgb: 95, 174, 154;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #549988;
  --ion-color-tertiary-tint: #6fb6a4;

  --ion-color-success: #2e7d6b;
  --ion-color-success-rgb: 46, 125, 107;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #286e5e;
  --ion-color-success-tint: #438a7a;

  --ion-color-warning: #e6b800;
  --ion-color-warning-rgb: 230, 184, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #caa200;
  --ion-color-warning-tint: #e9bf1a;

  --ion-color-danger: #d64545;
  --ion-color-danger-rgb: 214, 69, 69;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #bc3d3d;
  --ion-color-danger-tint: #da5858;

  --ion-color-light: #f6faf8;
  --ion-color-light-rgb: 246, 250, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dcda;
  --ion-color-light-tint: #f7fbf9;

  --ion-color-medium: #9fbeb6;
  --ion-color-medium-rgb: 159, 190, 182;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #8ca7a0;
  --ion-color-medium-tint: #a9c5bd;

  --ion-color-dark: #0f1413;
  --ion-color-dark-rgb: 15, 20, 19;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0d1211;
  --ion-color-dark-tint: #272c2b;

  --ion-background-color: var(--ion-color-light);
  --ion-text-color: var(--ion-color-dark);
  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;
  --ion-toolbar-background: #ffffff;
  --ion-toolbar-color: var(--ion-color-dark);
}
