<ion-modal
  [isOpen]="state.isPurchaseModalOpen()"
  (willDismiss)="modal.close()"
  (didDismiss)="state.closePurchaseModal()">
  <ng-template>
    @let target = state.purchaseTarget();
    @if (target) {
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'shopping.purchaseModal.titleProduct' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" color="medium" (click)="modal.close()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="stacked">{{ 'shopping.purchaseModal.productName' | translate }}</ion-label>
            <ion-input [value]="target.item.name" disabled="true"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">{{ 'shopping.purchaseModal.quantity' | translate }}</ion-label>
            <ion-input
              type="number"
              inputmode="decimal"
              [value]="modal.quantity"
              (ionInput)="modal.onQuantityInput($event)"
              min="0"
              [placeholder]="'shopping.purchaseModal.quantityPlaceholder' | translate"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              type="date"
              label="{{ 'shopping.purchaseModal.expiry' | translate }}"
              labelPlacement="stacked"
              [(ngModel)]="modal.expiryDate"
            ></ion-input>
          </ion-item>

        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-toolbar class="add-footer">
          <ion-buttons>
            <ion-button
              class="add-footer__cta"
              color="primary"
              fill="solid"
              expand="block"
              [disabled]="!modal.canConfirm || state.isSuggestionProcessing(target.item._id)"
              (click)="modal.submitPurchase()">
              {{ 'shopping.purchaseModal.addToPantry' | translate }}
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    }
  </ng-template>
</ion-modal>
